<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
<!--    above default-init-method and default-destroy-method call will be ignored for beans which doesn't have these method-->
    <bean id="triangleN" class="com.example.Triangle" name="triangle-name" autowire="byName" abstract="true">
    </bean>

    <bean id="triangle1" class="com.example.Triangle" abstract="true">
        <property name="pointA" ref="pointA"/>
    </bean>
    <!--init-method and destroy-method should exists in bean otherwise error will come-->
    <bean id="triangle" class="com.example.Triangle" parent="triangle1">
        <property name="pointB" ref="pointB"/>
        <property name="pointC" ref="pointC"/>

    </bean>
    <bean id="pointA" class="com.example.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointB" class="com.example.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointC" class="com.example.Point">
        <property name="x" value="0"/>
        <property name="y" value="-20"/>
    </bean>
    <bean id="circle" class="com.example.Circle">
<!--        <property name="center" ref="pointA" />-->
    </bean>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <alias name="triangle" alias="triangle-alias"/>
</beans>